@import url('http://getbootstrap.com/dist/css/bootstrap.css');

.myForm, .register .backend{
  margin: 0 auto;
  width: 400px;
  text-align: center;
  margin-top: 50px;
}

h1 {

  h2{
    text-align: center;
  }

}

.backend {
    ul{
      text-align: right;
    }

    margin-top: 50px;
}

#registerButton {
  position: relative;
  left: 15px;
}


#navBack{

  height: 65px;
  width: 100%;
  position: fixed;
  overflow: hidden;

  .logo{
    width: 100px;
    height: 100px;
    padding-top: 10px;
    float: left;
  }

  .navbar{
    margin-left:300px;

  }

  .container{
    width: 1080px;
    height: 100%;
    margin: 0px;
    overflow: hidden;
  }

}

.myBlock{
  width: 100%;
  height:500px;

}
.test{
  font-size:12px;
}

.socialMedia {
  height: 45px;
  width: 45px;
  border-radius: 5px;
  background: url("../images/socialMedia.png");
  background-size: 940px;
}

.facebook {
  background-position: 770px;
}

.googlePlus {
  background-position: 690px;
}

.pInterest {
  background-position: 1315px;
}

.twitter {
  background-position: 1155px;
}

.youtube {
  background-position: 996px;
}

